@import './root.css';

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: var(--branco);
}


.container {
    margin-top: 150px;
    background-color: #dda25e33;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 900px;
    width: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon img {
    width: 80px;
}

h3 {
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
    text-align: center;
}


form .form-control {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1rem;
    
}

form .form-control:focus {
    box-shadow: none;
    border-color: #3c99f0;
}

textarea.form-control {
    resize: none;
}

.btn-send {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-send:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    .btn-send {
        width: 100%;
        margin-top: 10px;
    }
}


