@import './root.css';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFAE0;
    color: black;
}

#apresentacao {
    background-color: #FEFAE0;
    padding: 60px 0;
}

#apresentacao h2 {
    font-size: 32px;
    color: #000000;
}

#apresentacao p {
    font-size: 18px;
    color: #000000;
}

#imagens {
    background-color: #FEFAE0;
    padding: 60px 0;
}

#imagens h2 {
    font-size: 32px;
    color: #000000;
}

.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

#grupo {
    background-color: #FEFAE0;
    padding: 60px 0;
}

.card {
    border: 1px solid #BC6C25;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #333;
}

#maiores-destaques h2 {
    font-size: 32px;
    color: #333;
}

#maiores-destaques p {
    font-size: 18px;
    color: #333;
}

footer {
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    margin-top: auto;
    position: static;
}