:root {
  --verde: #606c38;
  --verde2: #283618;
  --branco: #fefae0;
  --preto: rgb(34, 34, 34);
  --laranja: #dda15e;
  --laranja2: #bc6c25;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #333;
}

.navbar-toggler{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: #ffffff;
  font-weight: bold;
}

main{
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; 
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-content div {
  margin: 10px 0;
}

footer .footer-content a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer .footer-content a:hover {
  text-decoration: underline;
}

footer .social-icons a {
  font-size: 24px;
  margin: 0 10px;
}

footer p {
  font-size: 0.9rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  footer .footer-content {
      flex-direction: column;
  }

  footer .social-icons {
      margin-top: 10px;
  }
}