:root {
  --verde: #606c38;
  --verde2: #283618;
  --branco: #fefae0;
  --preto: rgb(34, 34, 34);
  --laranja: #dda15e;
  --laranja2: #bc6c25;
}

body {
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 34, 34);
  color: #fefae0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a {
  color: #fefae0;
}
